#/usr/bin/env bash

export OPENWRT_REPO="https://git.openwrt.org/openwrt/openwrt.git"
export OPENWRT_RELEASE="v21.02.3"

export OPENCLASH_REPO="https://github.com/vernesong/OpenClash.git"
export OPENCLASH_RELEASE="v0.45.47-beta"

export CLEANUP=0

if [ -f ./config/proxy.sh ]; then
    source ./config/proxy.sh
fi
